nav{
    height: 130px;
}
.logo{
    font-size: 50px;
}
.container-fluid{
    background-image: url("cab3.jpg");
    background-size: 100% 100%;
}
.container {
    top: 50px;
    text-align: center;
    color: teal;
    font-weight: bold;
}
.h1 {
   color: white;
   padding: 15px;
}
p{
    font-size: 20px;
    color: white;
}
.card {
    margin-top: 50px;
    margin-bottom: 60px;
}
.card-body h6 {
    margin-bottom: 15px;
}
.card #header {
    background: #dbff4b;
    padding: 9px 24px;
    border-radius: 21px;
}
.card-title {
    font-weight: bold !important;
    margin-bottom: 2px;
} 
.card .card-body a {
    background-color: #c3ea27;
    color: black;
    font-size: 19px;
}
input, select:focus {
    outline: none !important;
}
.g{
    background-color:  #f0f0f5;
    border:none;
    -webkit-appearance: none 
}
button{
    width: 100%;
    background-color:  #99cc00;
    font-weight: bolder;
    padding: 10px;
    border:none;
}
.input{
    background-color:  #f0f0f5;
}
footer{
    background-color: lightgray;
}
footer a{
    margin:10px;
}
#result{
    background-color: #f0f0f5;
    border-radius: 2px;
    border:4px;
}
